/* Resets */
* {
  @apply font-normal;
  horizontal-alignment: 'left';
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

Label {
  @apply align-middle;
}

/**
*   1. set a default size for the ActivityIndicator to be similar on ios/android
*/
ActivityIndicator {
  @apply h-6 w-6; /* 1 */
}

Button {
  @apply rounded-none border-0 bg-transparent normal-case;
  min-width: 0;
  min-height: 0;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
}

Video {
  @apply border-0;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
}

TextField,
TextView {
  @apply bg-transparent text-base;
  placeholder-color: #38c883;
  color: #1f7a4e;
}
TextField[isEnabled='false'],
TextView[isEnabled='false'] {
  @apply bg-transparent text-base;
  placeholder-color: gray;
  opacity: 0.5;
}
/* END Resets */

@tailwind base;
@tailwind components;
@tailwind utilities;

ActionBar {
  background-color: #FAE8EB;
  color: #3f3f3f;
}

:root {
  line-height: 0;
}

.text-base, .text-xs, .text-sm, .text-lg, .text-xl, .text-2xl, .text-3xl, .text-4xl {
  line-height: 0;
}

.info-card {
  background-color: rgba(30, 41, 59, 0.3); /* bg-slate-800/30 */
  /* border-width: 1px; border-1 */
  /* border-color: rgba(255, 255, 255, 0.2); border-white border-opacity-20 */
}